<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro Medicos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        crossorigin="anonymous">
    <link rel="stylesheet" href="static/estilop.css">
</head>

<body>
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" href="{{ url_for('index') }}">MedCare</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto py-4 py-lg-0">
                    <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4"
                            href="{{ url_for('/') }}">Inicio</a></li>
                    <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4"
                            href="{{ url_for('RegistrarMedico') }}">Registro Medicos</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <form action="{{ url_for('guardarMedico') }}" method="post">
                    <div class="form-group">
                        <label for="NombreMedico">Nombre Completo:</label>
                        <input type="text" id="NombreMedico" name="NombreMedico" class="form-control"
                            placeholder="Introduce el nombre Completo">
                    </div>
                    <div class="form-group">
                        <label for="CedulaProfesional">Cedula Profesional:</label>
                        <input type="text" id="CedulaProfesional" name="CedulaProfesional" class="form-control"
                            placeholder="Introduce la Cedula Profesional">
                    </div>
                    <div class="form-group">
                        <label for="RFC">RFC:</label>
                        <input type="text" id="RFC" name="RFC" class="form-control" placeholder="Introduce la RFC">
                    </div>
                    <div class="form-group">
                        <label for="Correo">Correo Electronico:</label>
                        <input type="email" id="Correo" name="Correo" class="form-control"
                            placeholder="Introduce Correo Electronico">
                    </div>
                    <div class="form-group">
                        <label for="Contra">Password:</label>
                        <input type="password" id="Contra" name="Contra" class="form-control"
                            placeholder="Introduce Password">
                    </div>
                    <div class="form-group">
                        <label for="Rol">Rol:</label>
                        <input type="text" id="Rol" name="Rol" class="form-control"
                            placeholder="Introduce el Rol del Medico">
                    </div>
                    <button type="submit" class="btn btn-primary">Registrar</button>
                </form>
            </div>
        </div>
    </div>
</body>

</html>